.title{
    color: red;text-align: center;font-family: roboto;
    font-size: 2.5rem;letter-spacing: 3px;text-underline-position: auto;
}

img {
    display: block;
    width: 30%;
    margin: auto;
  }

  .elephant{
    float: right;
  }

  body{
    background-color: blanchedalmond;
    font-family: Arial;
  }
  