.title{
    color: red;text-align: center;font-family: roboto;
}

img {
    display: block;
    width: 30%;
    margin: auto;
  }

  .elephant{
    float: right;
  }

  footer {
    
    padding: 5px;
    background-color:rgba(26, 26, 39, 0.611);
    color:black;
    
  }
  body{
    background-color: antiquewhite;
    font-family: Arial;
  }